@using Microsoft.AspNetCore.Components.Routing

<nav class="nav flex-column">
	<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
	<NavLink class="nav-link" href="/shared-hello">Shared Hello</NavLink>
	@* add Weather later when it lives in Shared *@
	@* add Counter later when it lives in Shared *@
</nav>